<!DOCTYPE html>
<html>             
	<head>
		<meta charset="UTF-8">
		<meta name  = "description" content = "This is a good website">
		<meta name="author" content="abhishek">
		<meta name="keywords" content="HTML, tutor">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title>First website</title>
	</head>
	<body style="background-color: lightblue">
		<header>
			<nav>

				
			</nav>
			<h1>Will it work</h1>
		</header>
		<main>
			<article>
				<section>
					<p>Here we put our first girrbish</p>
					<aside>
						Here we will put ad
					</aside>
				</section>
				<section>
					<!-- putting a img from internet-->
					
					<!--img src="https://wallpaperplay.com/walls/full/0/b/6/44764.jpg" alt="wallpaper here"/-->
					<!--selecting only height or width give same aspect ratio-->
					<a href="https://wallpaperplay.com/walls/full/0/b/6/44764.jpg" >
					<img width="750" height="500" src="wallpaper.jpg" alt = "my wallpaper">
					</a>
					<!--inserting a video thumbnail,size,video controls-->
					<video src="SV.mp4" poster="wallpaper.jpg" autoplay loop controls width = "750">cannot play this video</video>
					<!-- from youtube-->
					<iframe width="660" height="370" src="https://www.youtube.com/embed/Hy6vbdbQa8Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<!-- putting a link-->

					<a href = "https://www.google.com/"><h2>Google's Homepage</h2> </a>
					<!-- target blank will open a new tab-->
					<a href = "https://www.google.com/" target="blank"><h2>Google's Homepage</h2> </a>
					<a href="page2.html"> Page-2 </a>
					<br/>
					<a href="dir1/page3.html"> Page-3 </a>
					<br/>
					<a href= "wallpaper.jpg"> wallpaper</a>
					<!-- makin list-->
					<ol type="I">
						<li>Apples</li>
						<li>Oranges</li>
						<li>Banans</li>
					</ol>
					<ul>
						<li>Apples</li>
						<li>Oranges</li>
						<li>Banans</li>
					</ul>
					<dl>
						<dt>Apples</dt>
						<dd>-It is a fruit</dd>
					</dl>
				</section>
				<section>
					<!-- making table-->
					<table>
						<thead>
							<caption><h2>our first table</h2></caption>
						</thead>
						<tbody>
							<tr>
								<th> one</th>
								<th> twooo</th>
								<th> three</th>
							</tr>
							<tr>
								<td colspan="2">space</td>
								<td> 0,1</td>
								<td> 0,2</td>
							</tr>
							<tr>
								<td> 1,0</td>
								<td> 2,1</td>
								<td> 3,2</td>
							</tr>
							<tr>
								<td> 2,0</td>
								<td> 2,1</td>
								<td> 2,2</td>
							</tr>
						</tbody>
					</table>
					
				</section>
				<section>
					<!-- div and span-->
					<div style="color: red">
						this is red this is it
					</div>
					<div style="color: blue">
						this is red this is it
					</div>
					<span style="background: red">span1</span>
					<span>span2</span>
					<br/>
					<a href="#">link1</a>
					<a href="#">link2</a>
					<p>Paragrap1</p>
					<p>Paragrap2</p>
				</section>
				<section>
					<!-- input using a stroger lan is suitable like java script but-->
					<input type="text" value="Enter this is"/>
					<br/>
					<input type="password"/>
					<br/>
					<input type="date"/>
					<br/>
					<input type="file"/>
					<br/>
					<input name="btn" type="radio">
					<br/>
					<input name="btn" type="radio">
					<br/>
					<form>
						<input type="submit"/>
					</form>
					<br/>
					<textarea rows="10" cols="30">
					Enter your thoughts	

					</textarea>



				</section>
				<section>
					<iframe src="https://wallpaperplay.com/walls/full/0/b/6/44764.jpg" width ="500">hi</iframe>
				</section>
			</article>
		</main>
		<footer>
			
		</footer>
		
	</body>
</html>